
* {
    -webkit-transition: all 10s ease-in-out 1s;
    transition: all 20s ease-out 2s;
}

audio {
    transition: all 0s linear 0s;
    position: fixed;
    top: 90%;
    left: 25%;
}

#buttonDiv {
    display: flex;
        flex-direction: row;
}

#buttonOne, #buttonTwo {
    width: 110px;
}
  audio {
    position: fixed;
    top: 90%;
    left: 25%;

}

button {
    width: fit-content;
    background-color: #226764;
    
}
button:hover {
    background-color: #59B3B0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:white;
}
