h1, h2, ul, li {
    border: inherit;
}

div, h3, p, img {
    border:inherit;
}

#mainParagraph {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

/*  line submit buttons up side-by-side  */
#buttonDiv {
    display: flex;
        flex-direction: row;
}

/*  formatting button size  */
#buttonOne, #buttonTwo {
    width: 110px;
}

#buttonTwo {
    margin-right: 5px;
}