body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
}

#about-section {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer {
    border: 5px solid black;
    text-align: left;
    padding-left: 50px;
    padding-top: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 0;
}