/*                  Narrator Section */

fieldset {
    width: 600px;
    margin: 0 auto;
}

legend {
    margin: 0 auto;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 300px;
    text-align: right;
    margin-right: 30px;
}

.inputBox {
    display: inline-block;
    float: left;
}

footer {
    border: 5px solid black;
    text-align: left;
    padding-left: 50px;
    padding-top: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 0;
}



/*                  Narrator Section */


div {
    background-color: gray;
    position:absolute;
    margin-left: -100px;
    top: 450px;
    right: 0px;
    width: 500px;
    height: 500px;
    z-index: 10;
    
    /*transition-delay: 1s;*/
/*}
                  /*STRETCH GOAL Narrator Section */

/*#closeout {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    top: 5px;
    left: 5px;
}*/

/*
.showMe {
    right: 15px;*/
    /*background-color: blue;*/
/*}*/
/*
.hideMe {
    right: -480px;
    background-color: blueviolet;
}*/

