/*                  Form Section */

fieldset {
    width: 600px;
    margin: 0 auto;
}

legend {
    margin: 0 auto;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 300px;
    text-align: right;
    margin-right: 30px;
}

.inputBox {
    display: inline-block;
    float: left;
}

/*            Footer Section */

footer {
    border: 5px solid black;
    text-align: left;
    padding-left: 50px;
    padding-top: 25px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    /*z-index: 5;*/
}

/*                  Narrator Section */


#narrator {
    background-color: gray;
    position:fixed;
    margin-left: -100px;
    bottom: 0px;
    right: 0px;
    width: 400px;
    min-height: 300px;
    z-index: 10;
    height: auto;
    /*max-height: 600px;
    overflow: scroll;*/
    /*transition-delay: 1s;*/
}
                  /*STRETCH GOAL Narrator Section */

/*#closeout {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    top: 5px;
    left: 5px;
}*/

/*
.showMe {
    right: 15px;*/
    /*background-color: blue;*/
/*}*/
/*
.hideMe {
    right: -480px;
    background-color: blueviolet;
}*/

